Repository MetOffice/CSET: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-json, regenerate-rose-meta

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
---
ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell
        # Additional dependency needed until Python 3.11 is our minimum version.
        additional_dependencies:
          - tomli

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 895ebb389825c29bd4e0addcf7579d6c69d199cc  # frozen: v0.9.6
    hooks:
      - id: ruff
        args: [--fix, --show-fixes, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: a23f6b85d0fdd5bb9d564e2579e678033debbdff  # frozen: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: sort-json
        name: Sort JSON
        description: Recursively sort JSON files by key.
        entry: ./scripts/sort_json.py
        language: script
        types: [json]
        files: src/CSET/operators/_colorbar_definition.json

  - repo: local
    hooks:
      - id: regenerate-rose-meta
        name: Regenerate rose metadata
        description: Ensure the rose metadata has been generated from its template.
        entry: ./scripts/generate_rose_meta.py
        language: python
        files: cset-workflow/meta/
        additional_dependencies:
          - jinja2

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # frozen: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=10240"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
        # Prevent PP files being inappropriately "fixed".
        exclude: ^.+\.pp$
      - id: trailing-whitespace

updates to new cset release
  docs/source/usage/run_full_cylc_workflow.rst
Due: none

Fully sort website index
  src/CSET/_common.py
  src/CSET/_workflow_utils/finish_website.py
  tests/test_common.py
Due: none

Increase aggregation wallclock to 3 hours
  cset-workflow/flow.cylc
Due: none

Document adding a site-specific configuration
  docs/source/usage/add-site.rst
  docs/source/usage/index.rst
Due: none

tidy up text and add screenshots
  docs/source/usage/cset_ui1.PNG
  docs/source/usage/cset_ui2.PNG
  docs/source/usage/run_full_cylc_workflow.rst
Due: none

add space
  docs/source/usage/run_full_cylc_workflow.rst
Due: none

Skip running dummy tasks
  cset-workflow/flow.cylc
Due: none

add whitespace
  docs/source/usage/run_full_cylc_workflow.rst
Due: none

add to toctree
  docs/source/usage/index.rst
Due: none

Don't write case aggregation netCDF files
  src/CSET/recipes/generic_mlevel_domain_mean_vertical_profile_series_case_aggregation_hour_of_day.yaml
  src/CSET/recipes/generic_mlevel_domain_mean_vertical_profile_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_mlevel_domain_mean_vertical_profile_series_case_aggregation_validity_time.yaml
  src/CSET/recipes/generic_mlevel_spatial_plot_sequence_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/generic_mlevel_spatial_plot_sequence_case_aggregation_mean_lead_time.yaml
  src/CSET/recipes/generic_mlevel_spatial_plot_sequence_case_aggregation_mean_validity_time.yaml
  src/CSET/recipes/generic_plevel_domain_mean_vertical_profile_series_case_aggregation_hour_of_day.yaml
  src/CSET/recipes/generic_plevel_domain_mean_vertical_profile_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_plevel_domain_mean_vertical_profile_series_case_aggregation_validity_time.yaml
  src/CSET/recipes/generic_plevel_histogram_series_case_aggregation.yaml
  src/CSET/recipes/generic_plevel_histogram_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_plevel_spatial_plot_sequence_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/generic_plevel_spatial_plot_sequence_case_aggregation_mean_lead_time.yaml
  src/CSET/recipes/generic_plevel_spatial_plot_sequence_case_aggregation_mean_validity_time.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series_case_aggregation_hour_of_day.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series_case_aggregation_validity_time.yaml
  src/CSET/recipes/generic_surface_histogram_series_case_aggregation.yaml
  src/CSET/recipes/generic_surface_histogram_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_lead_time.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_validity_time.yaml
  src/CSET/recipes/surface_spatial_difference_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/surface_spatial_difference_case_aggregation_mean_lead_time.yaml
  src/CSET/recipes/surface_spatial_difference_case_aggregation_mean_validity_time.yaml
Due: none

Mark diagnostics as extreme if values exceed colorbar range
  src/CSET/operators/plot.py
Due: none

Show extreme values in workflow status
  src/CSET/_workflow_utils/finish_website.py
Due: none

Add preprocessing task to speed up workflow
  cset-workflow/app/preprocess_data/bin/preprocess.py
  cset-workflow/app/preprocess_data/rose-app.conf
  cset-workflow/flow.cylc
  cset-workflow/rose-suite.conf.backup
Due: none

gui fixes
  cset-workflow/meta/diagnostics/rose-meta.conf
  cset-workflow/meta/rose-meta.conf
  cset-workflow/rose-suite.conf.example
Due: regenerate-rose-meta

gui fixes
  cset-workflow/meta/rose-meta.conf
Due: regenerate-rose-meta

Add tracing process when run_cset takes longer than 5 minutes
  cset-workflow/app/run_cset_recipe/bin/run-cset-recipe.py
Due: none

Generalise the difference time equalisation
  src/CSET/operators/_utils.py
  src/CSET/operators/misc.py
  tests/operators/test_misc.py
Due: none

Nicer output from run_cset_recipe
  src/CSET/_workflow_utils/run_cset_recipe.py
Due: none

Conditionally fix times to avoid double fixing
  src/CSET/operators/read.py
Due: none

threading through vars
  cset-workflow/includes/plot_spatial_surface_model_field.cylc
  cset-workflow/meta/rose-meta.conf
  src/CSET/operators/read.py
  src/CSET/recipes/generic_surface_spatial_plot_sequence.yaml
Due: regenerate-rose-meta

threading through
  cset-workflow/meta/rose-meta.conf
  src/CSET/operators/read.py
Due: regenerate-rose-meta

threading through
  src/CSET/operators/read.py
Due: none

Update add-site.rst
  docs/source/usage/add-site.rst
Due: none

update jinja2
  cset-workflow/meta/rose-meta.conf
  cset-workflow/meta/rose-meta.conf.jinja2
Due: regenerate-rose-meta

initial
  docs/source/getting-started/run_full_cylc_workflow.rst
Due: none

move
  docs/source/getting-started/run_full_cylc_workflow.rst
  docs/source/usage/run_full_cylc_workflow.rst
Due: none

completed docs
  docs/source/usage/run_full_cylc_workflow.rst
Due: none

update var name
  cset-workflow/meta/rose-meta.conf
  cset-workflow/meta/rose-meta.conf.jinja2
  src/CSET/operators/read.py
Due: regenerate-rose-meta

latest work
  cset-workflow/includes/plot_spatial_surface_model_field.cylc
  cset-workflow/meta/rose-meta.conf
  cset-workflow/meta/rose-meta.conf.jinja2
  src/CSET/operators/read.py
  src/CSET/recipes/generic_surface_spatial_plot_sequence.yaml
Due: regenerate-rose-meta

introduce callback function to convert precipitation units to mm hr-1. Colourbar scale changed accordingly for surface_microphysical_rainfall_rate. Still requires change to colourbar
  src/CSET/operators/_colorbar_definition.json
  src/CSET/operators/read.py
Due: sort-json

update
  src/CSET/operators/read.py
Due: none

moved callback function for converting precipitation units from read operator into plot operator
  src/CSET/operators/plot.py
  src/CSET/operators/read.py
Due: none
