Repository MetOffice/CSET: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-json, regenerate-rose-meta

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
---
ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: e84319e627902e1b348574ecf3238dc511933dc7  # frozen: v0.11.7
    hooks:
      - id: ruff
        args: [--fix, --show-fixes, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: a23f6b85d0fdd5bb9d564e2579e678033debbdff  # frozen: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: sort-json
        name: Sort JSON
        description: Recursively sort JSON files by key.
        entry: ./scripts/sort_json.py
        language: script
        types: [json]
        files: src/CSET/operators/_colorbar_definition.json

  - repo: local
    hooks:
      - id: regenerate-rose-meta
        name: Regenerate rose metadata
        description: Ensure the rose metadata has been generated from its template.
        entry: ./scripts/generate_rose_meta.py
        language: python
        files: cset-workflow/meta/
        additional_dependencies:
          - jinja2

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # frozen: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=10240"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
        # Prevent PP files being inappropriately "fixed".
        exclude: ^.+\.pp$
      - id: trailing-whitespace

Updated changeset for #1285, introducing $METHOD env variable to general recipes and supporting cset-workflow option changes.
  cset-workflow/includes/spatial_difference_field.cylc
  cset-workflow/includes/spatial_field.cylc
  cset-workflow/meta/diagnostics/rose-meta.conf
  cset-workflow/opt/rose-suite-RAL3LFRIC.conf
  cset-workflow/rose-suite.conf.example
  src/CSET/recipes/generic_level_spatial_plot_sequence.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_regrid.yaml
  src/CSET/recipes/level_spatial_difference.yaml
  src/CSET/recipes/surface_spatial_difference.yaml
Due: regenerate-rose-meta

Add new aggregation over all data outputs
  cset-workflow/flow.cylc
  cset-workflow/includes/histogram_field_aggregation_all.cylc
  cset-workflow/includes/spatial_field_aggregation.cylc
  cset-workflow/includes/timeseries_field_aggregation.cylc
  cset-workflow/meta/diagnostics/rose-meta.conf
  src/CSET/recipes/generic_level_domain_mean_time_series_case_aggregation_all.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_all.yaml
  src/CSET/recipes/generic_level_histogram_series_case_aggregation_all.yaml
  src/CSET/recipes/generic_level_spatial_plot_sequence_case_aggregation_mean_all.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series_case_aggregation_all.yaml
  src/CSET/recipes/generic_surface_histogram_series_case_aggregation_all.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_all.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_validity_time.yaml
  src/CSET/recipes/level_spatial_difference_case_aggregation_mean_all.yaml
  src/CSET/recipes/surface_spatial_difference_case_aggregation_mean_all.yaml
Due: regenerate-rose-meta

Initial attempt to introduce generic fetching of observations.
  cset-workflow/app/fetch_obs/rose-app.conf
Due: none

Add some basic hardcoded healpix loading code
  requirements/environment.yml
  src/CSET/operators/read.py
Due: none

added text to warn of numerical beats in UM cloud amout histograms #1173
  src/CSET/recipes/generic_surface_histogram_series.yaml
Due: none

Now fetching observations and plotting them: still needs development.
  .gitignore
  cset-workflow/flow.cylc
  cset-workflow/includes/spatial_surface_obs_field.cylc
  cset-workflow/meta/diagnostics/rose-meta.conf
  cset-workflow/meta/observations/rose-meta.conf
  cset-workflow/meta/rose-meta.conf
  cset-workflow/rose-suite.conf.example
  src/CSET/_workflow_utils/fetch_data.py
  src/CSET/operators/__init__.py
  src/CSET/operators/plot.py
  src/CSET/recipes/obs_model_level_air_temperature_scatterplot.yaml
Due: regenerate-rose-meta

Add thinking from hackathon day 4
  thinking.py
  thinking.yaml
Due: none

fixup! Add thinking from hackathon day 4
  thinking.py
Due: none

Improve testing of get_cube_coordindex
  src/CSET/operators/_utils.py
  tests/operators/test_utils.py
Due: none

Add cset parbake command
  cset-workflow/app/bake_recipes/bin/bake.py
  cset-workflow/app/bake_recipes/rose-app.conf
  cset-workflow/app/parbake_recipe/bin/parbake-recipe.py
  cset-workflow/app/parbake_recipe/rose-app.conf
  cset-workflow/app/run_cset_recipe/bin/run-cset-recipe.py
  cset-workflow/app/run_cset_recipe/rose-app.conf
  cset-workflow/flow.cylc
  docs/source/reference/cli.rst
  src/CSET/__init__.py
  src/CSET/_common.py
  src/CSET/_workflow_utils/bake_recipes.py
  src/CSET/_workflow_utils/parbake_recipe.py
  src/CSET/_workflow_utils/run_cset_recipe.py
  src/CSET/operators/__init__.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_execute_recipe.py
  tests/workflow_utils/test_bake_recipes.py
  tests/workflow_utils/test_parbake_recipe.py
Due: none

Adding code to plot differences.
  cset-workflow/includes/spatial_surface_model_obs_diference.cylc
  cset-workflow/meta/observations/rose-meta.conf
  src/CSET/operators/regrid.py
  src/CSET/recipes/generic_model_obs_difference_scatterplot.yaml
Due: regenerate-rose-meta

A little tidying up.
  cset-workflow/includes/spatial_surface_model_obs_diference.cylc
  cset-workflow/includes/spatial_surface_obs_field.cylc
  src/CSET/operators/read.py
  src/CSET/operators/regrid.py
  src/CSET/recipes/generic_model_obs_difference_scatterplot.yaml
  src/CSET/recipes/generic_obs_scatterplot.yaml
Due: none

Update to add statistic changes, including switch ordering for diff plots
  src/CSET/recipes/surface_spatial_difference.yaml
Due: none

Improve human_sorted function based on updated blog post
  src/CSET/_common.py
Due: none

Fix formatting of cset bake example documentation
  docs/source/reference/cli.rst
Due: none

Remove redundant histogram aggregation file. Now replaced with histogram_aggregation_all file.
  cset-workflow/includes/histogram_field_aggregation_all.cylc
Due: none

Add time processing options for profile and histogram plotting within case study block
  cset-workflow/includes/histogram_field.cylc
  cset-workflow/includes/profile_level.cylc
  cset-workflow/meta/diagnostics/rose-meta.conf
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series.yaml
  src/CSET/recipes/generic_level_histogram_series.yaml
  src/CSET/recipes/generic_surface_histogram_series.yaml
Due: regenerate-rose-meta

Add missing runtime statement
  cset-workflow/includes/histogram_field_aggregation.cylc
Due: none

Rebased code.
  cset-workflow/app/build_conda/bin/build_conda_env.sh
  cset-workflow/includes/spatial_surface_model_obs_diference.cylc
  cset-workflow/includes/spatial_surface_obs_field.cylc
  src/CSET/_workflow_utils/fetch_data.py
  src/CSET/operators/plot.py
  src/CSET/operators/read.py
Due: none

Reimplement sub-area functionality universally
  cset-workflow/meta/diagnostics/rose-meta.conf
  cset-workflow/meta/rose-meta.conf
  cset-workflow/meta/rose-meta.conf.jinja2
  cset-workflow/rose-suite.conf.example
  src/CSET/operators/read.py
  src/CSET/recipes/generic_level_domain_mean_time_series.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_hour_of_day.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_validity_time.yaml
  src/CSET/recipes/generic_level_spatial_plot_sequence.yaml
  src/CSET/recipes/generic_level_spatial_plot_sequence_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/generic_level_spatial_plot_sequence_case_aggregation_mean_lead_time.yaml
  src/CSET/recipes/generic_level_spatial_plot_sequence_case_aggregation_mean_validity_time.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series_case_aggregation_hour_of_day.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_surface_domain_mean_time_series_case_aggregation_validity_time.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_lead_time.yaml
  src/CSET/recipes/generic_surface_spatial_plot_sequence_case_aggregation_mean_validity_time.yaml
  src/CSET/recipes/level_spatial_difference.yaml
  src/CSET/recipes/surface_spatial_difference.yaml
  src/CSET/recipes/surface_spatial_difference_case_aggregation_mean_hour_of_day.yaml
  src/CSET/recipes/surface_spatial_difference_case_aggregation_mean_lead_time.yaml
  src/CSET/recipes/surface_spatial_difference_case_aggregation_mean_validity_time.yaml
  tests/operators/test_read.py
Due: regenerate-rose-meta

Create diagnostic archive in working directory
  src/CSET/operators/__init__.py
  tests/test_execute_recipe.py
Due: none

comments maybe handled?
  src/CSET/operators/plot.py
Due: none

fixes TypeError
  src/CSET/operators/plot.py
Due: none

fixes pre-commit
  src/CSET/operators/plot.py
Due: none

handles #1356; multiple model lines on vertical profiles
  cset-workflow/includes/profile_level.cylc
  cset-workflow/includes/profile_level_aggregation.cylc
  src/CSET/operators/plot.py
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_hour_of_day.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_validity_time.yaml
Due: none

Select common subset of sequence points
  src/CSET/operators/plot.py
Due: none

Document how to switch git repository from HTTPS to SSH
  docs/source/contributing/git.rst
Due: none

Further reworking of GitHub authentication docs
  docs/source/contributing/git.rst
Due: none

Add CSET v25.5.1 release notes to changelog
  docs/source/changelog.rst
Due: none

Update pyproject.toml metadata
  pyproject.toml
Due: none

Manually hold back importlib-metadata
  cset-workflow/requirements/workflow-locks/py311-lock-linux-64.txt
  cset-workflow/requirements/workflow-locks/py312-lock-linux-64.txt
  cset-workflow/requirements/workflow-locks/py313-lock-linux-64.txt
  requirements/locks/py311-lock-linux-64.txt
  requirements/locks/py312-lock-linux-64.txt
  requirements/locks/py313-lock-linux-64.txt
Due: none

Consistently use python3 in Actions workflows
  .github/workflows/release.yml
Due: none

Specify --no-deps when pip installing CSET
  .github/workflows/pull-request-checks.yml
  .github/workflows/weekly-checks.yml
  docs/source/contributing/getting-started.rst
  docs/source/contributing/testing.rst
Due: none

Fetch full history when making release
  .github/workflows/release.yml
Due: none

Directly run python tools, rather than running as modules
  .github/workflows/conda-lock.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/pull-request-checks.yml
  .github/workflows/release.yml
  .github/workflows/weekly-checks.yml
Due: none

Group CI testing logs
  .github/workflows/pull-request-checks.yml
Due: none

Interim update ahead of main merge
  cset-workflow/includes/profile_level.cylc
  cset-workflow/includes/profile_level_aggregation.cylc
  src/CSET/operators/_colorbar_definition.json
  src/CSET/operators/plot.py
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_all.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_hour_of_day.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_lead_time.yaml
  src/CSET/recipes/generic_level_domain_mean_vertical_profile_series_case_aggregation_validity_time.yaml
Due: sort-json

Correct rose namespace for SELECT_SUBAREA
  cset-workflow/meta/rose-meta.conf
  cset-workflow/meta/rose-meta.conf.jinja2
Due: regenerate-rose-meta

Add subarea variables to include files
  cset-workflow/includes/aoa_diag.cylc
  cset-workflow/includes/basic_qq_plot.cylc
  cset-workflow/includes/histogram_field.cylc
  cset-workflow/includes/histogram_field_aggregation.cylc
  cset-workflow/includes/histogram_field_aggregation_all.cylc
  cset-workflow/includes/mlevel_transect.cylc
  cset-workflow/includes/plevel_transect.cylc
  cset-workflow/includes/profile_level.cylc
  cset-workflow/includes/profile_level_aggregation.cylc
  cset-workflow/includes/spatial_difference_field.cylc
  cset-workflow/includes/spatial_difference_field_aggregation.cylc
  cset-workflow/includes/spatial_field.cylc
  cset-workflow/includes/spatial_field_aggregation.cylc
  cset-workflow/includes/timeseries_field.cylc
  cset-workflow/includes/timeseries_field_aggregation.cylc
Due: none

Add CSET v25.5.2 release notes to changelog
  docs/source/changelog.rst
Due: none
